*{
    margin: 0px;
}

.mini-card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: none;
}
    .header{
    width: 100%;
    height: 104px;
    background:  #001AFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    }
    .header > a {
        margin-left: 32px;
        width: 386px;
        height: 40px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 125%;
        color: #FFFFFF;
        text-decoration: none;
    }
.main_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main_nav li{
        list-style-type: none;
    }
    .main_nav a {
        margin-right: 15px;
        text-decoration: none;
        height: 19px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: rgb(226,226,226);
    }
    .close-button {
        display: none;
    }

    .main_nav a.active {
        padding-bottom: 5px;
        border-bottom: 1px solid #F0F0F0;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 32px;
        margin-top: 24px; 
    }
    .content-title{
        height: 32px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 135%;
        color: #001AFF;
        margin-bottom: 32px;
        z-index: -1;
    }
    .content-boxes{
    display: flex;
    z-index: -1;
    }
    .content-boxes > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px 12px;
        gap: 12px;
        max-width: 673px;
        width: 100%;
        height: 168px;
        background: #F0F0F0;
        margin-right: 30px;
    }
    .content-boxes div h2{
    height: 22px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    padding: 12px 0 12px;
    color: #001AFF;
    }
    .content-boxes-titles{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .content-boxes-titles span {
        height: 19px;
        font-family: 'SF Mono';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #72767D;
        text-align: start;
    }
    .content-boxes-titles h3 {
    height: 19px;
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #1E2C40;
    padding-top: 12px;
    }
    .files{
        height: 100vh;
        width: 100%;
    }
    .content-files-box{
        height: 201px;
        max-width: 907px;
        width: 91%;
        background: #001AFF;
        border-radius: 4px;
        margin-bottom: 32px;
        background: #F0F0F0;
        gap: 12px;
        padding: 24px;
    }

    .files-first{
        display: flex;
        justify-content: space-between;
        margin: 0 7.5%;
    }

    .files-first h4 {
        height: 19px;
        font-family: 'SF Mono';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #72767D;
        
    }

    .content-boxes-line{
        width: 99%;
        margin: auto;
        border-top: 1px solid black;
        margin: 12px 0 24px 0;
    }


    .files-third{
        display: flex;
        padding-top: 12px;
        margin-bottom: 24px;
        justify-content: space-between;
    }

    .files-third-web{
        display: flex;
        width: 50%;

    }

    .files-third h4 {
        height: 19px;
        font-family: 'SF Mono';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #1E2C40;
        text-align: end;
    }

    .files-third div {
        display: flex;
        justify-content: space-between;
        margin: 0 7.5% 24px;
    }

    .files-third button {
        height: 19px;
        font-family: 'SF Mono';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

   
    .statistics{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .content-statistics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content-statistics div{
        width: 20%;
        margin-bottom: 32px;
        z-index: -1;
    }
    .content-statistics h3{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #001AFF;
        padding-bottom: 4px;
    }
    .content-statistics span{
        font-family: 'SF Mono';
        font-style: normal;
        font-weight: 600;
        font-size: 14px; 
        color: #1E2C40;
    }
    .settings{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .content-settings{
        z-index: 1;
    }
    .content-settings h3{
        height: 22px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        color: #001AFF;
        margin-bottom: 8px;
    }
    .content-settings-second{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        margin-right: 16px;
    }
    .second-input{
        height: 51px;
        width: 304px;
        border-radius: 4px;
        margin-bottom: 27px;
        padding-left: 12px;
        color: #1E2C40;
        font-family: 'SF Mono';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
    }
    .content-settings-third{
        display: flex;
        align-items: center;
        margin-bottom: 34px;
    }
    .content-settings-third label {
    height: 19px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #1E2C40;
    margin: 0 29px 0 3px;
    }

    .third-input{
        background: #1E2C40;
    }
    .content-settings-fourth {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        margin-right: 16px;
    }
    .content-settings button {
        height: 51px;
        max-width: 324px;
        width: 100%;
        background: #001AFF;
	cursor: pointer;
        border-radius: 4px;
        margin-bottom: 32px;
    }
    .content-settings button span {
        width: 298px;
        height: 22px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        color: #FFFFFF;
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 83px;
        margin: auto 32px 0 32px;
        border-top: 1px solid #F0F0F0;
        justify-content: center;
        z-index: -1;
    }
    .mobile-menu{
        cursor: pointer;
        display: none;
    }
    .footer p {
    height: 19px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 135%;
    color: #1E2C40;
    }
    .files-second-item{
        text-align: center;
    }

    @media only screen and (max-width: 768px) { 
        .header > a {
            width: 180px;
            height: 20px;
            font-size: 15px;
        }
     .content-statistics div{
        width: 33%;
     }

@media only screen and (max-width: 576px) { 
    .mini-card{
        margin: 0;
    }
    .header{
        height: 69px;
    } 
    .header > a {
        width: 240px;
        height: 20px;
        font-size: 16px;
        margin-left: 16px;
    }
    .mobile-menu{
        display: flex;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor: pointer;
        margin-top: 1px;
    }
    .mobile-menu span{
        width: 36px;
        height: 19px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: #FFFFFF;
    }
    .content-boxes{
        display: flex;
        flex-direction: column;
      }
    .content-boxes > div{
        padding: 0px 8px 12px;
        min-width: 250px;
        max-width: 575px;
        width: auto;
        height: 168px;
        margin: 0 0 32px -32px;
    }
    .content-files-box{
        height: 261px;
        max-width: 588px;
        z-index: -1;
        width: auto;
        margin-left: -32px;

    }

    .files-third{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .files-third-web{
        display: flex;
        width: auto;
    }

    .files-third div {
        margin: 0 10% 24px;
    }

    .content-statistics div{
        width: 40%;
        margin: 0 12px 32px 0;
     }
     .second-input{
         max-width: 298px;
         width: 100%;
      }
     .main_nav{
        display: none;
        position: absolute;
        min-height: 97vh;
        height: auto;
        top: 0px;
        right: 0px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        width: 50%;
        background: #001AFF;
        padding-top: 26px;
      }
      .main_nav li {
        padding-top: 12px;
      }
      .close-button {
        display: block;
        color: #F0F0F0;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor: pointer;
        margin-right: 12px;
        text-decoration: none;
        height: 20px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: rgb(226,226,226);
        padding-bottom: 48px;
      }
    }
}